*{
  margin: 0;
  padding: 0;
  
}
/* common css start */
 a{
 text-decoration: none; 
 }
 ul,ol{
  list-style: none;
 }

 .container{
  width: 1408px; 
   /* height: 300px; */
  /* background-color: red; */
 
 /* margin and width must in container. Normally there is no Height and Background color in container */
 margin: 0 auto;
 }
 .box{
   display: flex; 
 }

 .common-title h2{
  font-size: 48px;
  font-weight: 600;
  color:#29313D ;
  font-family: "Poppins", serif;
  text-align: center;
 }
 
/* common css end */

/* ===== Navbar part start=== */
 nav{
  background-color: #F8FDFE;
  padding: 30px 0;
 }
 nav .box{
  align-items: center;
 }
.logo-part{
  width: 20%;
 }
 .menu-part{
   width: 60%;
   position: relative;
   z-index: 4;
 }
 .button-part{
   width: 20%;
   text-align: right;
   position: relative; 
   z-index: 5;
 }
 
 nav .menu-part ul{
   display: flex;
   column-gap: 48px;
   justify-content: center;

 }
 
 nav .menu-part ul a{
   font-size: 18px;
   color: #29313D;
   font-weight: 600;
   font-family: "Open Sans", serif;
   transition: .4s;
 }
 nav .menu-part ul a:hover {
  color: blueviolet; 
 }
 nav .menu-part ul li i{
  margin-left: 3px;
 
 }
 nav .button-part a {
   background-color: blueviolet;
   padding: 18px 28px;
   border-radius: 15px;
   font-family: "Nunito", serif;
   color: white;
   font-size: 18px;
   font-weight: 600;
   transition: .4s;
   border: 1px solid transparent;

 }
 nav .button-part a:hover{
  background-color: transparent;
  color: black;
  border: 1px solid blueviolet
 }

/* ===== Navbar part end ===== */

 /* === Banner part start=== */
 .banner{
  background-color: #F8FDFE ;
   padding: 200px 0;
  position: relative;
 }
.banner .background{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}
.banner .background-left{
 position: absolute;
 top: 100px;
 left: 10%;
}
.banner .background-right{
position: absolute;
top: 100px;
right:10%;
}
.banner .background-top{
 position: absolute;
 top: 50px;
 left: 35%;
}
.banner h1{
  width: 464px;
  font-size: 64px;
  font-weight: 900;
  color: #1D354F;
  margin: 0 400px;
}

.banner p{
  width: 464px;
  font-size: 18px;
  font-weight: 400;
  color: #1D354F;
  margin: 0 400px;
  padding-top: 20px;
  padding-bottom: 60px;
}
.button2 a{
  width: 20%;
  background-color: blueviolet;
  padding: 18px 28px;
  border-radius: 15px;
  font-family: "Nunito", serif;
  color: white;
  font-size: 18px;
  font-weight: 600;
  transition: .4s;
  border: 1px solid transparent;
  margin: 0 400px;
  position: relative;
  z-index: 6;
}
 .button2 a:hover {
  background-color: transparent;
  color: black;
  border: 1px solid blueviolet;
}
/* === Banner Part End=== */

.liOne{
  position: relative;
}
.ultwo{
  display: flex;
  flex-direction: column;
  background-color: #95a5a6;
  position: absolute;
  top: 60px;
  left: -30px;
  opacity: 0;
  transition: 1s;
   visibility: hidden; 
}
.ultwo li{
  padding: 20px 20px;
  
}
  .liOne:hover .ultwo{
 opacity: 1;
 visibility: visible;
 top: 30px;
} 
.liTwo{
  position: relative;
}
.ulThree{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60%;
  left: 120%;
  background-color:#81ecec;
  transition: 1s;
  opacity: 0;
  visibility: hidden;
}
.ulThree li{
  padding: 10px 30px;
}
 .liTwo:hover .ulThree{
  opacity: 1;
  visibility: visible;
  top: 45%;
  left: 100%;
}
/* Service part */
.service{
  padding: 100px 0 ;
}


.service .service-card{
  width: 330px;
  /* height: 355px; */
  /* No need to use height for card */
  background-color: FDFDFD;
  padding: 30px 20px; 
  transition: 0.5s;
}
.common-title-heading{
  padding-bottom: 60px;
}
/* .service .box{
  column-gap: 30px;
   padding-top: 60px;
} */
.service .service-card h3 {
 font-size: 28px;
 font-weight: 600;
 color: #29313D;
 font-family:"Poppins", serif;
 padding-top: 24px;
 padding-bottom: 14px;
}
.service .service-card p{
  font-size: 18px;
  font-weight: 400;
  color: #29313D;
  font-family:"Poppins", serif; 
  padding-bottom: 24px;
  line-height: 150%;
}
.service .service-card a{
  font-size: 16px;
  font-weight: 700;
  color: #29313D;
  font-family:"Nunito", serif; 
}
 .service-card:hover{
  background-color: white;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.4);
}
/* launch section start */
.launch .left{
 width: 40%;
 position: relative;
}

.launch .right{
 width: 60%;
 
}
.launch .bg{
 width: 540px;
 height: 620px;
 background-image: url('/images/background.jpg');
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 position: absolute;
 top: 0;
 left: 0;
}
.launch .launch-image{
  width: 304px;
  height: 620px;
  background-image: url('/images/launch.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -40px;
 left: 50%;
 transform: translateX(-50%);
}
.launch .common-title h2 {
  text-align: left;
  padding-bottom: 30px;
}
.launch .common-title p{
  font-size: 18px;
  font-weight: 400;
  color: #1D354F;
  width: 443px;
  font-family:"Nunito", serif;
  padding-bottom: 20px ;
}
.launch .box{
   column-gap: 20px;
}
.launch .box{
  background-color: transparent;

}
.launch .box:hover{
  box-shadow: 0px 0px 0px white;
}
.launch .box a{
  font-size: 16px;
  font-weight: 700;
  color: #29313D;
  font-family:"Nunito", serif;
   padding-top: 20px; 
}
.launch .box img{
  padding-top: 20px;
  padding-bottom: 30px;
} 
.launch .box h3{
 padding-bottom: 20px;
}
.launch .box p{
  padding-bottom: 20px;
  line-height: 25px;
  width: 300px;
}
.launch{
 padding: 100px 0;
}
.launch2{
  padding: 300px 0;
}
 .showcase{
  padding: 100px 0; 
 background-color: rgba(248, 253, 254, 0.5);
} 
.showcase h2{
  padding-bottom: 10px;
}
.showcase .common-title p{
  text-align:center ;
  font-size: 20px;
  font-family:"Nunito", serif; ;
}
.showcase .images{
  width: 330px;
   /* height:715px ; */
  padding-top: 50px;
}
  .showcase .images img{
  width: 100%;
}  
.showcase .box{
  justify-content: space-between;
  padding-top: 50px;
}
.showcase .images img{
  border-radius: 50px;
}
.showcase .indicator{
padding-left: 48%;
}
.company .common-title h2{
  width: 529px;
  text-align: left;
}
.company .button a{
  background-color: blueviolet;
  border-radius: 15px;
  padding: 15px 30px;
  font-family: "Nunito", serif;
  color: white;
  font-size: 18px;
  font-weight: 600;
  transition: .4s;
  border: 1px solid transparent;
}
.company .btn {
  margin-top: 40px;
}
.company .box{
  justify-content: space-between;
  
}
.company{
   padding: 120px 0;
}
.company .sponsor{
   padding-top: 120px;
}
/* last child works same as the alternate class name */
.company .sponsor:last-child{
   padding-top: 120px ;
}
.trial{
  padding-top:120px;
   padding-bottom: 200px; 
  background-color: #f7f8f9;
  margin-top:120px ;
  
}
.trial .common-title h2{
  text-align: center;
   padding-bottom: 24px;
}
.trial .common-title p{
  text-align: center;
  padding-bottom: 100px; 
}
.trial2 .box{
  justify-content: space-between;
}
.trial2 .trial-card{
  width: 455px;
  
  background-color: whitesmoke;
  border-radius: 30px;
 transition: 0.5s;
 
}
.trial2 .trial-card:hover{
  -webkit-box-shadow: 10px 18px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 18px 25px 0px rgba(0,0,0,0.75);
box-shadow: 10px 18px 25px 0px rgba(0,0,0,0.75);
}
.trial2 .box{
  transform: translateY(-20%);  
}

 .trial .icon{
  text-align: center;
   margin-bottom: 50px;
}
.trial2 h5{
 font-size: 40px;
 font-weight: 600;
 color: #29313D;
 font-family: "Nunito", serif;
 text-align: center;
 padding: 36px 0;
 border-bottom: 1px solid rgba(27, 17, 87, .10);
 position: relative;
}
.trial2 h5::after{
  width: 51px;
  height: 5px;
  background-color: #6A55EA;
  position: absolute;
  top: 100%;
  left: 50%;
  content: "";
  transform:translateX(-50%) ;
  border-radius: 30px;
}
.trial2 h2{
  padding-top: 30px;
  padding-left: 10px;
  font-size: 40px;
}
.trial-card .button a{
  background-color: blueviolet;
  border-radius: 15px;
  padding: 12px 20px;
  font-family: "Nunito", serif;
  color: white;
  font-size: 18px;
  font-weight: 600;
  transition: 1s;
  border: 1px solid transparent; 
}
.trial2 .box2{
  display: flex;
   justify-content: space-between; 
}
.trial2 .button{
  padding-top: 40px;
  padding-right: 20px;
}
.box2 .button:hover a{
  background-color: goldenrod;
  border: 1px solid black;
  color: white;
}
.trial-ul{
  font-size: 20px;
  font-weight: 500;
  font-family: "Nunito", serif;
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.trial-ul p{
  width: 18px;
  height: 18px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  padding-bottom: 10px;
   margin: 15px;
}
/* Recent part start */
.recent{
  transform: translateY(50px);
  padding-bottom: 70px;
}
.recent .box{
  justify-content: space-between;
  align-items: center;
  padding-bottom: 68px;
}
.recent .recent-layout{
  display: flex;
  align-items: center;
  column-gap: 36px;
}
.recent .recent-layout ul{
  display: flex;
  column-gap: 30px;
}
.recent .box h2{
 font-size: 48px;
 font-family: "Poppins",  serif;
 color: Black; 
 font-weight: 600;
 
}
.recent .recent-layout h4{
  font-size: 28px;
 font-family: "Poppins",  serif;
 color: Black; 
 font-weight: 600;
}
 /* .recent .recent-layout ul li a i {
  padding: 20px;
  background-color:rgba(106, 85, 234, 0.1) ;
  border-radius: 50%;
}  */
  .recent .recent-layout ul li a  {
  width: 60px;
  height: 64px;
  background-color:rgba(106, 85, 234, 0.1) ;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
 } 
 .recent .recent-layout ul li:hover a{
  background-color:#6A55EA;
  color: white;
 }

 .recent .box2{
  display: flex;
 }

 .recent .box2 .left{
 width: 65%;
 }
 
 .recent .box2 .right{
 width: 35%; 
 border-top: 1px solid rgb(44, 42, 42);

 }

.recent .box3{
  display: flex;
  column-gap: 30px;
}
.recent .box3:last-child{
  padding-top: 30px;
}
.recent .box3 h4{
  font-size: 32px;
  width: 552px;
  font-family:"Poppins", serif ;
  font-weight: 600;
  padding-bottom: 24px;
  text-transform: capitalize;
}
.recent .box4{
  display: flex;
  column-gap: 18px;
  align-items: center;
}
.recent .box4 h6{
 font-size: 28px;
 font-family:"Nunito", serif ;
 font-weight: 600;
 color: #29313D;
 text-transform: capitalize;
}
.recent .para2{
  font-size: 18px;
  font-family:"Nunito", serif ;
  font-weight: 400;
  color: #29313D;
  padding-bottom: 28px; 
}
.box3 p{
  font-size: 18px;
 font-family:"Nunito", serif ;
 font-weight: 600;
 color: #29313D;
 width: 443px;
 line-height: 200%;
 text-transform: capitalize;
}
.recent-right-part{
  display: flex;
  column-gap: 20px;
  align-items: center;
  padding-top: 30px;
}
.recent-right-part h2{
  font-size: 28px;
  font-weight: 400;
  font-family: "Poppins", serif;
}
.recent-right-part span i{
  font-size: 36px;
  color: white;
  background-image: linear-gradient(red, blue);
}
.recent .box5{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 40px;
}
/* .recent .image-box{
  
  border-radius: 20px;
  overflow: hidden;
  object-fit: cover;
} */
.recent .image-box img{
  width: 210px;
  height: 210px;
  border-radius: 20px;
}
.recent .recent-button{
  font-size: 38px;
  background-color: #6A55EA;
  display: inline-block;
  border-radius: 25px;
  padding: 20px 40px;
  margin-top: 40px;
  margin-left: 10px;
  color: white;
  font-weight: 600;
  transition: .4s;
}
.recent .recent-button:hover{
  background-color: transparent;
  color: black;
  border: 1px solid black;
}
/* Project part start */

.project{
  transform: translateY(150px);
  background: #F8FDFE;
  padding: 100px 0;
}
.project .box{
  background-color: #6A55EA;
  padding:180px 100px ;
  border-radius: 80px;
  justify-content:space-between ;
}
.project h2{
  text-transform: capitalize;
  color: white;
  font-size: 56px;
  width: 552px;
  font-weight: 600;
  font-family: "Poppins", serif;
}
 .project .project-button{
 padding: 100px;
}
.project .project-button:hover a{
  background-color: goldenrod;
  color: white;
  border: 1px solid black;
}
.project a{
  font-size: 18px;
  background-color: white;
  font-family: "Nunito", serif;
  line-height: 25.2px;
  border-radius: 25px;
  padding: 30px 40px;
  color: blue;
  font-weight: 400;
  transition: .4s;
}
/* Project part end */

/* Footer part start */

.footer{
  transform: translateY(300px); 
}
.footer .box .one{
  width: 40%;
}
.footer .box .one p{
 font-size: 18px; 
 font-weight: 400;
 line-height: 32.4px;
 font-family: "Nunito", serif;
 color: #29313D;
 width: 449px;
 padding-top: 44px;
}
.footer .box .two{
  width: 20%;
}
.footer .box .three{
  width: 20%;
  
}
.footer .box .four{
  width: 20%;
  
}
.footer .box ul{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Nunito", serif;
}
.footer .box ul a{
  color: #29313D;
}
.footer .box h5{
  padding-bottom:50px ;
  font-size: 24px;
  font-weight: 600;
  color: #29313D;
  font-family: "Open sans", serif;
}
.footer .box2{
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}
 .footer .box2 .box{
  column-gap: 30px;
 }
 .footer .box2 p{
  font-size: 18px; 
  font-weight: 400;
  line-height: 32.4px;
  font-family: "Nunito", serif;
  color: #29313D;
  
 }
/* Footer part end */



